<tr class="expenses__table-row" data-controller="inline-edit" data-expense-id="<%= expense.id %>">
  <%= expense.table_row_cells.join.html_safe %> 
  <td class="expenses__table-cell expenses__table-cell--actions">
    <div class="flex space-x-2">
      <%= link_to 'Show', expense_path(expense), class: "btn btn-info btn-sm" %>
      <%# <%= link_to 'Edit', edit_expense_path(expense), class: "btn btn-warning btn-sm" %> 
      <button data-action="click->inline-edit#edit" class="btn btn-warning btn-sm">Edit</button>
      <%= link_to 'Delete', expense_path(expense), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-error btn-sm" %>
    </div>
  </td>
</tr>