<p style="color: green"><%= notice %></p>

<% content_for :title, "Expenses" %>

<h1>Expenses</h1>

<button class="btn-customyo" style="color: green;">Click Me</button>

<div class="expenses">

  <%= render partial: "expenses_toolbar" %>

  <table class="expenses__table">
      <%= @expenses.first.decorate.header_row %>
    <tbody class="expenses__table-body">
      <% @expenses.each do |expense| %>
        <%= render partial: "expense_row", locals: { expense: expense.decorate } %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New expense", new_expense_path %>
